html {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: flex-start;
    font-family: 'Domine', serif;
    padding: 3px;
    background-image: url(img/wallpaper.jpg);
}

h1, span {
    font-size: 44px;
    color: #1C0B19;
    background-color: white;
    padding: 18px;
}

span {
    color: #791524;
    padding: 0px;
}

h2 {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    color: #1C0B19;
    background-color: white;
    padding: 18px;
}

p {
    font-family: 'Libre Baskerville', serif;
}

#results {
    margin-top: -35px;
    padding-left: 10px;
}

.results-format {
    display: flex;
    justify-content: flex-start;
}

.results-list {
    display: flex;
    justify-content: flex-start;
}

.hidden {
    display: none;
}

label, select, input {
    margin: 10px 0px;
    padding: 3px;
    font-size: 16px;
    color: #1C0B19;
    padding: 15px;
}

option, #button {
    font-family: 'Libre Baskerville', serif;
}

label {
    font-family: 'Domine', serif;
    font-size: 24px;
    padding-top: 100px;
}

form {
    margin-top: 18px;
    background-color: white;
    padding: 24px 15px 3px 15px;
}

#button {
    background-color: #791524;
    color: white;
    padding: 8px;
    margin-bottom: 20px;
}

.find-play {
    background-color: white;
}

.results-head {
    font-size: 16px;
    margin-bottom: -20px;
    padding: 20px 0px 10px 0px;
}

li {
    margin: 0px;
    padding-bottom: 15px;
}

ul {
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    list-style: none;
    padding-left: 0px;
} 

.articles {
    border-top: 1px black solid;
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
}

.headline {
    justify-content: left;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 10px;
    -webkit-transition: color 0.5s, font-size 0.5s;
    transition: color 0.5s, font-size 0.5s;
    font-size: 24px;
    color: black;
}

.headline:hover {
    font-size: 30px;
    color: #791524;
}

.date {
    color: #460C15;
    font-size: 15px;
}

.read-now {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
}

#books-results-list {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.bookLi {
    margin: 0px 20px 0px 0px;
}

.bookImg {
    width: 100%;
}

#book-flex {
    display: flex;
    flex-flow: column;
    text-align: center;
    padding: 0px;
}

@media all and (min-width: 601px) {

    body {
        display: flex;
        justify-content: center;

    }

    #results {
        margin-top: -50px;
    }


    form, h1, h2 {
        text-align: center;
    }

    label, select, input {
        margin: 10px 0px;
        padding: 3px;
    }

    .results-head {
        text-align: left;
    }

    .articles {
        max-width: 925px;
    }

    .read-now {
        text-align: center;
        margin: 30px 0px;
        color: #791524;
    }

    .bookLi {
        margin-left: 80px;
    }

    #books-results-list {
        display: inline-flex;
        flex-flow: row;
        justify-content: center;
    }

}



